/vendor
/node_modules
/npm-debug.log
/yarn-error.log

/public/build
/public/hot
/public/storage

/bootstrap/ssr
/storage/*.key
/storage/pail

/.phpunit.result.cache
/.phpunit.cache
/.vagrant

.env
.env.backup
.env.production
.phpactor.json
Homestead.yaml
Homestead.json
auth.json

# IDE & system files
.DS_Store
/.idea
/.vscode
/.nova
/.fleet
/.zed

# Optional Herd-related folders
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
